<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QUANLY_HS_GV.Properties.Settings.QUANLY_HS_GVConnectionString"
            connectionString="Data Source=(local);Initial Catalog=QUANLY_HS_GV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QUANLY_HS_GV.Properties.Settings.QUANLY_HS_GVConnectionString1"
            connectionString="Data Source=UBUNTU-PC\SQLEXPRESS;Initial Catalog=QUANLY_HS_GV;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>